html {
    box-sizing: border-box;
    overflow: hidden;

    &.scroll {
        overflow: visible;
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    line-height: 1.3;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.canvas {
    height: 100%;
    width: 100%;
    position: relative;
}
